@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";
@theme {
  --color-anmasa-accent: oklch(0.45 0.07 135);
  --color-anmasa-secondary: oklch(0.43 0.09 134);
  --color-anmasa-text: oklch(97.1% 0.013 17.38);
  --color-anmasa-highlight: oklch(0.75 0.16 85);
  --color-anmasa-heading: oklch(0.52 0.06 120);
  --color-anmasa-bg: #FCFCFC;
  --color-anmasa-yellow: oklch(90.5% 0.182 98.111);
}

body {
  font-family: "Quattrocento Sans", system-ui, sans-serif;
  background-color: #fcfcfc;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
